{% extends 'base.html' %}
{% block title %}
    Home Page
       {% endblock title %}
{% block content %}

<body>
  <div style="background-image: url('https://static.vecteezy.com/system/resources/thumbnails/013/445/888/small/hacker-data-security-technology-blue-background-data-secure-theft-crime-hack-digital-tech-abstract-privacy-hi-tech-binary-code-virus-attack-data-internet-network-connection-illustration-vector.jpg'); background-size: cover; background-position: center; padding: 50px;">
<div card="card bg-light p-3">
  
    <DIV CLASS="HERO">
      <div class="message">

        
        </div>
      <h1 data-aos="fade-up"> Welcome to incognito Network </h1>
    
       
        <H2><H2>
      </DIV>




    </div>







    </div>
</body>
<style>
 

 .HERO{
  width:400px;
 border:SOLID BLACK;
  justify-content:center;
  align-items:center;
  text-align:center;
  margin-left:30%;
  background:#0c0f0d;
  color:white;
  opacity:.8;
  height:500px;
 }
 body{
  justify-content:center;
  align-items:center;
  text-align:center;
 }
</style>

  

{%endblock content%}